<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>XZip</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zip-archive</string>
				<string>org.7-zip.7-zip-archive</string>
				<string>public.tar-archive</string>
				<string>org.gnu.gnu-zip-archive</string>
				<string>public.archive</string>
				<string>com.rarlab.rar-archive</string>
				<string>public.iso-image</string>
				<string>public.cpio-archive</string>
				<string>com.apple.xip</string>
				<string>com.sun.java-archive</string>
				<string>org.idpf.epub-container</string>
				<string>com.codetay.xzip.cab</string>
				<string>com.codetay.xzip.deb</string>
				<string>com.codetay.xzip.rpm</string>
				<string>com.codetay.xzip.lzh</string>
				<string>com.codetay.xzip.wim</string>
				<string>com.codetay.xzip.chm</string>
				<string>com.codetay.xzip.arj</string>
				<string>com.codetay.xzip.udf</string>
				<string>com.codetay.xzip.squashfs</string>
				<string>com.codetay.xzip.z-archive</string>
				<string>com.codetay.xzip.lzma</string>
				<string>com.codetay.xzip.cbz</string>
				<string>com.codetay.xzip.pax</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>vi</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.codetay.xzip</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xzip</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://xmannv.github.io/xzip/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>9/ryeUN9ZJfVWkorOqHJTK1l1jkQy6Gtp1x7dxNjmN8=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Windows Cabinet archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.codetay.xzip.cab</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cab</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Debian package</string>
			<key>UTTypeIdentifier</key>
			<string>com.codetay.xzip.deb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>deb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RPM package</string>
			<key>UTTypeIdentifier</key>
			<string>com.codetay.xzip.rpm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rpm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LZH archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.codetay.xzip.lzh</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lzh</string>
					<string>lha</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Windows Imaging archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.codetay.xzip.wim</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wim</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Compiled HTML Help</string>
			<key>UTTypeIdentifier</key>
			<string>com.codetay.xzip.chm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>chm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ARJ archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.codetay.xzip.arj</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>arj</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>UDF disk image</string>
			<key>UTTypeIdentifier</key>
			<string>com.codetay.xzip.udf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>udf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SquashFS image</string>
			<key>UTTypeIdentifier</key>
			<string>com.codetay.xzip.squashfs</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>squashfs</string>
					<string>sqfs</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Unix Compress archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.codetay.xzip.z-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>z</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LZMA archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.codetay.xzip.lzma</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lzma</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Comic Book archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.codetay.xzip.cbz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cbz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PAX archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.codetay.xzip.pax</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pax</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
